@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-main: #1C1C27;

  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  background: #EAEAEA;
}
